---
import { getLangFromUrl, useTranslations } from "@i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

import CallToAction from "./CallToAction.astro"
import Icon from "./Icon.astro"
---

<aside
    class="mt-6 border-y border-solid border-t_gray-800 bg-t_gray-999_40 shadow-t_sm"
>
    <div
        class="container mx-auto px-6 flex flex-col items-center gap-6 px-6 py-20
        lg:flex-row lg:flex-wrap lg:justify-between lg:gap-12 lg:p-28"
    >
        <h2 class="text-center text-xl lg:max-w-md lg:text-start lg:text-3xl">
            {t("contact.title")}
        </h2>
        <CallToAction href="mailto:joffreylagut.work@outlook.fr">
            {t("contact.send_message")}
            <Icon icon="paper-plane-tilt" size="1.2em" />
        </CallToAction>
    </div>
</aside>
