---
import { getLangFromUrl, useTranslations } from "@i18n/utils"
import socialAccounts from "@data/social.json"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const currentYear = new Date().getFullYear()
---

<footer
    class="container mx-auto mt-auto flex flex-col flex-wrap gap-12 px-8 py-12 text-center
    text-sm text-t_gray-400 lg:flex-row lg:justify-between lg:px-6 lg:py-10"
>
    <p>
        {t("footer.quote")}
    </p>
    <div class="flex flex-col justify-center gap-8 sm:flex-row lg:justify-end">
        <p class="author">
            &copy; {currentYear} Joffrey Lagut
        </p>
        <div>
            <p class="flex flex-wrap justify-center gap-4">
                {
                    socialAccounts &&
                        socialAccounts.map((account) => (
                            <a
                                class="duration-theme ease-theme text-t_gray-400 underline decoration-transparent decoration-solid underline-offset-[0.25em]
                                transition-colors hover:decoration-current focus:decoration-current"
                                href={account.href}
                            >
                                {account.label}
                            </a>
                        ))
                }
            </p>
        </div>
    </div>
</footer>
