---
interface Props {
    size?: "xs" | "nm" | "sm"
    class?: string
    noColor?: boolean
}

const { size = "nm", class: extraClasses = "", noColor = false } = Astro.props
---

<div
    class={`${noColor ? "" : "pill-colors"} ${
        size == "xs" ? "pill-xs" : size == "sm" ? "pill-sm " : "pill-md"
    } pill ${extraClasses}`}
>
    <slot />
</div>

<style>
    .pill-xs {
        @apply px-3 py-1.5 text-xs font-medium;
    }
    .pill-md {
        @apply px-4 py-2 text-lg leading-snug;
    }
    .pill-sm {
        @apply px-3 py-1.5 text-sm font-medium leading-snug;
    }
    .pill-colors {
        @apply text-accent-textover border border-solid border-accent-regular bg-accent-regular;
    }
    .pill {
        @apply flex gap-2 whitespace-nowrap rounded-full;
    }
</style>
