---
interface Props {
    size?: "xs" | "nm" | "sm"
    class?: string
    noColor?: boolean
}

const { size = "nm", class: extraClasses = "", noColor = false } = Astro.props
---

{
    size === "xs" ? (
        <div
            class={`${
                noColor
                    ? ""
                    : "border border-solid border-accent-regular bg-accent-regular text-accent-text-over"
            } flex gap-2 whitespace-nowrap rounded-full px-3 py-1.5 text-xs font-medium ${extraClasses}`}
        >
            <slot />
        </div>
    ) : size === "sm" ? (
        <div
            class={`${
                noColor
                    ? ""
                    : "border border-solid border-accent-regular bg-accent-regular text-accent-text-over"
            }  flex gap-2 whitespace-nowrap rounded-full px-3 py-1.5 ${extraClasses}`}
        >
            <slot />
        </div>
    ) : (
        <div
            class={`${
                noColor
                    ? ""
                    : "border border-solid border-accent-regular bg-accent-regular text-accent-text-over"
            } flex gap-2 whitespace-nowrap rounded-full px-4 py-2 text-md leading-snug ${extraClasses}`}
        >
            <slot />
        </div>
    )
}
